/.Rhistory
/.Rproj.user
/dadosobs - audrei.xlsx
/dados_hidro.xlsx
/neural_net_model.R
/predictions_results.xlsx
/rpart_model.R
/scatter_plot.jpeg
/scatter_plot.png
/sia_pr_cids_2016.xlsx
/sia_pr_cids_2016_2020.xlsx
/sia_pr_cids_2017.xlsx
/sia_pr_cids_2017_2020.xlsx
/sia_pr_cids_2018.xlsx
/sia_pr_cids_2019.xlsx
/sia_pr_cids_2020.xlsx